
@import "./reset.css";

html, body{
    min-height: 100vh;
}
body{
    font-family: 'Rubik';
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
        background: linear-gradient(159.93deg, rgb(14, 13, 56) 3.127%,rgb(0, 121, 145) 96.73%),rgb(56, 145, 150);

    

}
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 216px;
    padding: 40px 15px;
    /* border-radius: 16px; */

}
.title{
    margin-bottom: 20px;
    font-family: 'Rubik';
    text-align: center;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.18;
    color: #fff;
}
.form {
    width: 460px;
    display: flex;
    justify-content: space-between;
    height: 54px;
    background-color: rgba(255, 255, 255, 0.805);
    border-radius: 45px;
}
.input {
    padding: 15px;

    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    border-radius: 50px;
    

}
.btn {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    width: 145px;
    height: 54px;
    background-color: #262452;
    border-radius: 20px;
    transition: background-color 0.2s ease-in;
}
.btn:hover{
    background-color: #1e1040;
}
/* ........................... */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    min-width: 360px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
}
.card::before{
    content: "";

    position: absolute;
    left: 10px;
    bottom: -10px;
    z-index: -1;

    width: calc(100% - 20px);
    height: 100%;

    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
}
.card-city { 
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    color: #000;
}
.card-city span {
    display: inline-block;
    padding: 3px 5px;
    vertical-align: text-top;

    border-radius: 6px;
    background-color: #444285;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
}
.card-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-value {
    font-weight: 400;
    line-height: 1;
    font-size: 92px;
}
.card-value sup{
    font-size: 50%;
}

.card-desc {
    font-size: 20px;
    line-height: 1.2;
}
.card-img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    padding: 5px;
}

.footer{
    margin-top: auto;
    padding: 8px 15px;

    background-color: #30304dad;

    width: 100%;   
    text-align: center; 
}
.footer a {
    color: #2E7695;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
}